:root {
    --text-color: #cfd8dc; /* blue-grey lighten-4 */
}

html {
    background-color: #263238;
    color: var(--text-color);
}

.caret {
    color: aquamarine;
}

.input-field {
    color: var(--text-color);
}

.select-wrapper input.select-dropdown{
    color: var(--text-color);
}

.txtarea {
    background-color: #F5F5F5 !important;
}